<table>
            <tr>
                <td valign="middle" align="center" height="55" bgcolor="#feae39" width="auto"
                    style="padding: 5px 15px 5px 15px; font-family: Arial, sans-serif, 'Open Sans'; font-size:17px; font-weight:bold; color:#ffffff; text-transform:uppercase;">
                    <a href="{{ href }}" style="text-decoration: none; line-height:45px"><font
                            color="white">{{ label }}</font>
                    </a>

                </td>
            </tr>
</table>